<main>
<%= render 'cover' %>

<section class="section" id="take-part-section">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-8 col-md-offset-2">
        <%= content_tag :h1, t('views.users.new.title'), class: 'welcome' %>
        <p>¡Fuiste seleccionado para participar en la fase final de un <strong>increíble proyecto</strong>!</p>
        <p>El profesor <strong>Alan Therapopulos</strong> es un reconocido científico e investigador especializado en <strong>Inteligencia Artificial</strong>. Desde hace años dirige la obra de su vida: el <strong>proyecto Thera</strong>, un androide imaginado como el asistente ideal para todas las actividades humanas.</p>
        <p>El proyecto está en su fase final, el robot está casi listo y sólo falta un último detalle: <strong>entrenarlo para que pueda comunicarse e interactuar con nosotros</strong>. Para esto el profesor ha diseñado un poderoso algoritmo que permite a <strong>Thera</strong> aprender de nuestros gestos y palabras.</p>
        <p>¿Te gustaría formar parte de este equipo y <strong>ayudar al profesor a completar su proyecto</strong>? ¡Completá los siguientes campos con tu nombre y correo electrónico para participar!</p>
        <%= simple_form_for @user do |f| %>
          <%= f.input :name, placeholder: t('views.users.new.placeholders.name'), required: true %>
          <%= f.input :email, placeholder: t('views.users.new.placeholders.email'), required: true %>
          <%= button_tag t('views.users.new.actions.take_part'), class: 'btn btn-default'%>
        <% end %>        
      </div>
    </div>
  </div>
</section>
</main>