<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <%= User.all.collect { |u| u.name }.to_s %>
        <h1>Welcome <%= @user.name %></h1>
        <p><%= @user.id %></p>
        <!-- FIXME
        <div class="embed-responsive embed-responsive-16by9">
          <iframe class="embed-responsive-item" src="https://www.youtube.com//embed/91XPH_6pL_0"></iframe>
        </div>
        -->
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <div class="panel panel-info">
          <div class="panel-heading">
            <h3>Capture #1</h3>
          </div>
          <div class="panel-body">
            <%= simple_form_for @user.photos.new do |f| %>
              <%= f.input :exercise_id, as: :hidden, input_html: { value: 1 } %>
              <%= f.input :stage_id, as: :hidden, input_html: { value: 1 } %>
              <%= f.input :photo, as: :file, input_html: { accept: 'image/*', capture: 'camera' } %>
              <button type="button" class="submit-photo-button">Send</button>
            <% end %>
          </div>        
        </div>
      </div>
    </div>
  </div>
</section>
