<!DOCTYPE html>
<html>
  <head>
    <title>TheraWebapp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="fullpage">
    <section class="section">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 text-center">
            <%= image_tag('professor-thera-alt.png', class: 'professor-thera-img') %>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 text-center">
            <div class="">
              <h1 class="tryme2">thera</h1>
              <p>asd</p>
              <p class="tryme3">Bienvenidos al proyecto Thera!</p>
              <p class="tryme3">Bienvenidos al proyecto Thera!</p>
              <p class="tryme3">Bienvenidos al proyecto Thera!</p>
            </div>
          </div>
        </div>
        <!--
        <div class="jumbotron">
          <h1>Proyecto Thera</h1>
          <h2>Fase #1</h2>
          <p>perro</p>
        </div>
        -->
      </div>
    </section>
    <%= yield %>
    </div>
  </body>
</html>
